flows.json
[
    {
        "id": "e0b148e704501213",
        "type": "tab",
        "label": "Flow 6 G7 ",
        "disabled": false,
        "info": "Comunicación con ESP32 CAM mediante Borker local:Host, manda los valores del contador y controla el encendido y apagado del flash del ESP32 CAM"
    },
    {
        "id": "0b7ccba55f97a494",
        "type": "mqtt in",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "662d1105d3f47ad2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "a5857ccb2a7ea46b",
                "cd3e15a7f316e25f"
            ]
        ]
    },
    {
        "id": "a5857ccb2a7ea46b",
        "type": "ui_text",
        "z": "e0b148e704501213",
        "group": "f8be81c57e27c5c1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "92f8444284804884",
        "type": "ui_switch",
        "z": "e0b148e704501213",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f4e702beb3672006",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a8ea0a066f34297b",
                "af471dbf1ff939cc"
            ]
        ]
    },
    {
        "id": "a8ea0a066f34297b",
        "type": "mqtt out",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "26edfaa519e1eac1",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "cd3e15a7f316e25f",
        "type": "debug",
        "z": "e0b148e704501213",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 80,
        "wires": []
    },
    {
        "id": "af471dbf1ff939cc",
        "type": "debug",
        "z": "e0b148e704501213",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "662d1105d3f47ad2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f8be81c57e27c5c1",
        "type": "ui_group",
        "name": "Rx",
        "tab": "cebb3f53d288520d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f4e702beb3672006",
        "type": "ui_group",
        "name": "Tx",
        "tab": "cebb3f53d288520d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "26edfaa519e1eac1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cebb3f53d288520d",
        "type": "ui_tab",
        "name": "Comunicación MQTT con ESP32CAM",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]